<div class="ez-extra-actions ez-extra-actions-left ez-extra-actions--browse-tree ez-extra-actions--hidden bg-secondary"
     data-actions="browse-tree"
     data-action="{{ path('edgar.uitreemenu.init', {'locationId': locationId}) }}"
     data-locationid="{{ locationId }}"
>
    <div class="ez-extra-actions__header">{{ 'content.create.choose_content_type'|trans|desc('Create your content') }}</div>
    <div class="ez-extra-actions__content">
        ZZZ0<br />
        ZZZ1
    </div>
</div>