{% set locationId = ezpublish.requestStack.parentRequest.attributes.get('locationId') %}
<div id="treemenu-sidebar-widget" class="ez-extra-actions-container">
    {% include '@EdgarEzUITreeMenu/content/widgets/content_browse_tree.html.twig' with {'locationId': locationId} only %}
</div>
